body{
  background-color: #ad7a99
}

h1{
  font-family: sans-serif;
  text-align: left;
  font-size: 48pt;
}

p{
  font-family: sans-serif;
  font-size: 16pt;
  text-align: left;
}

img{
  border-radius: 50%;
  width = 30%;
}

#welcome{
  width = 80%;
  height = 550px;
}
