body{
  background-color: #ad7a99
}

h1{
  font-family: sans-serif;
  text-align: left;
  font-size: 100pt;
  color: white;
}

p{
  font-family: sans-serif;
  font-size: 40pt;
  text-align: left;
  color: white;
}

img{
  border-radius: 50%;
  width = 30%;
}

#welcome{
  width = 80%;
  height = 550px;
}
